.App3D {
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;

  animation-duration: 2s;
  animation-delay: 3.5s;
  animation-name: board-appear;
  animation-fill-mode: forwards;
}

@keyframes board-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}